* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial;
}

/* #### Container ### */

.container {
  width: 360px;
  height: 150;
  margin: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* ##### Information Section ###### */
.allInfo {
  float: left;
  padding-left: 15px;
}

.allInfo h4 {
  color: rgb(237, 110, 167);
  font-weight: 700;
  line-height: 22px;
}

.icon {
  padding: 8px 0;
  font-size: 14px;
}

.icon-img {
  position: absolute;
}

.icon-text {
  left: 29px;
  top: 3px;
  position: relative;
}

.icon .location {
  top: -3px;
}

.logo {
  float: right;
}

.logo .logo-img {
  width: 179px;
  top: 50px;
  position: relative;
  right: 6%;
}

.logo .logo-img img {
  height: 100%;
  width: 100%;
}

.social-links {
  position: relative;
  margin-top: 55px;
}

.logo .social-links a {
  padding: 0px 7px;
}

.logo .social-links a:first-child {
  padding-left: 0;
}
.logo .social-links a:last-child {
  padding-right: 20;
}

.logo .social-links img {
  width: 18px;
  height: 18px;
}

.logo .allInfo {
  margin-bottom: 10px !important;
}
.banner {
  width: 360px;
}

.banner img {
  width: 100%;
}

/* 
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/Mujahid9396/upwork.git
git push -u origin main
 */
